.navigation{
    display: flex;
    flex-direction: row;
    margin: 280px 200px;
    align-items: center;
    justify-content: space-between;
    }
.question img{
    width: 65px;
}
.apostrophe img{
    width: 80px;
}
.period img{
    width: 40px;
}
.semicolon img{
    width: 31px;
}
.comma img{
    width: 36px;
}
.question img:hover, .apostrophe img:hover, .period img:hover, .semicolon img:hover, .comma img:hover{
    opacity: 50%;
    transition-timing-function: ease;
    transition: all .4s ease-in-out;
}
/* Responsive - phones screen */
@media screen and (max-width:768px){
    .navigation{
        flex-direction: column;
        height: 60vh;
    }
    .question img{
        width: 58px;
    }
    .apostrophe img{
        width: 70px;
    }
    .period img{
        width: 35px;
    }
    .semicolon img{
        width: 28px;
    }
    .comma img{
        width: 30px;
    }
   
 }