body{
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.heading img{
    width: 820px;
}
.sub-title{
    margin-top: 23px;
}
.sub-title p{
    font-family: "EB Garamond";
    font-size: 44px;
    line-height: 1.5cm;
}
.story{
    margin-top: 285px;
    width: 56%;
}
.story p{
    font-family: "EB Garamond";
    font-size: 21px;
}
.show-image-button{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
}
.image-container1 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-480px,538px);
    z-index: 9999;
  }
.image-container2 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65px,593px);
    z-index: 9999;
}
#image-popup img{
    width: 230px;
  }
#image-popup2 img{
    width: 550px;
}
.close-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    position: absolute;
}
#button1{
    transform: translate(160px,150px);
}
#button2{
    transform: translate(481px,120px);
}

.next{
    align-items: center;
    justify-content: right;
    margin-left: 1300px;
    margin-top: 390px;
    padding: 10px;
}
.next img{
    width: 40px;
}
