body{
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.heading img{
    width: 820px;
}
.sub-title{
    margin-top: 23px;
}
.sub-title p{
    font-family: "EB Garamond";
    font-size: 44px;
    line-height: 1.5cm;
}
.story{
    margin-top: 285px;
    width: 56%;
}
.story p{
    font-family: "EB Garamond";
    font-size: 21px;
}
.show-image-button{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
}
.image-container1 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-480px,538px);
    z-index: 9999;
  }
.image-container2 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65px,593px);
    z-index: 9999;
}
#image-popup img{
    width: 230px;
  }
#image-popup2 img{
    width: 550px;
}
.close-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    position: absolute;
}
#button1{
    transform: translate(160px,150px);
}
#button2{
    transform: translate(481px,120px);
}

.next{
    align-items: center;
    justify-content: right;
    margin-left: 1300px;
    margin-top: 390px;
    padding: 10px;
}
.next img{
    width: 40px;
}
/* Responsive - phones screen */
@media screen and (max-width:768px){
    .heading img{
        width: 960px;
        margin-top: 80px;
    }
    .sub-title {
        margin-top: 150px;
        width: 1100px;
    }
    .sub-title p{
        font-family: "EB Garamond";
        font-size: 50px;
        line-height: 2cm;
    }
    .story{
        width: 900px;
        margin-top: 400px;
    }
    .story p{
        font-size: 33px;
    }
    .next{
       margin-left: 970px;
    }
    .next img{
        width: 40px;
    }
    .show-image-button{
        font-size: 22px;
        font-weight: bold;
        border-radius: 100px;
        border: solid 2.5px #309ae6;
    }
    .image-container1 {
        transform: translate(315px,575px);
      }
      .image-container2 {
        transform: translate(-130px,820px);
      }
    
   
    #image-popup img{
        width: 270px;
      }
    #image-popup2 img{
        width: 740px;
    }
   
   
    .close-button{
        font-size: 26px;
        font-weight: bold;
        border-radius: 100px;
        width: 120px;
        border: solid 2.5px #309ae6;
    }
    #button1{
        transform: translate(155px,178px);
    }
    #button2{
        transform: translate(625px,158px);
    }
    
  
}
