body{
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.heading img{
    width: 790px;
    margin-top: 25px;
}
.sub-title{
    margin-top: 23px;
}
.sub-title p{
    font-family: "EB Garamond";
    font-size: 44px;
    line-height: 1.5cm;
}
.show-image-button{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
}
.story{
    margin-top: 285px;
    width: 56%;
}
.story p{
    font-family: "EB Garamond";
    font-size: 21px;
}
.image-container1 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-405px,-47px);
    z-index: 9999;
  }
.image-container2 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px,337px);
    z-index: 9999;
}
.image-container3 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-273px,530px);
    z-index: 9999;
}
#image-popup img{
    width: 670px;
  }
#image-popup2 img{
    width: 320px;
}
#image-popup3 img{
    width: 370px;
}
.close-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    position: absolute;
}
#button1{
    transform: translate(580px,205px);
}
#button2{
    transform: translate(252px,165px);
}
#button3{
    transform: translate(300px,112px);
}
.next{
    align-items: center;
    justify-content: right;
    margin-left: 1285px;
    margin-top: 350px;
    padding: 10px;
}
.next img{
    width: 80px;
}
/* Responsive - phones screen */
@media screen and (max-width:768px){
    .heading img{
        width: 1010px;
        margin-top: 80px;
    }
    .sub-title {
        margin-top: 150px;
        width: 1100px;
    }
    .sub-title p{
        font-family: "EB Garamond";
        font-size: 50px;
        line-height: 2cm;
    }
    .story{
        width: 900px;
        margin-top: 400px;
    }
    .story p{
        font-size: 33px;
    }
    .next{
       margin-left: 970px;
    }
    .next img{
        width: 100px;
    }
    .show-image-button{
        font-size: 22px;
        font-weight: bold;
        border-radius: 100px;
        border: solid 2.5px #309ae6;
    }
    .image-container1 {
        transform: translate(25px,-85px);
      }
      .image-container2 {
        transform: translate(310px,295px);
      }
      .image-container3 {
        transform: translate(-100px,795px);
      }
    #image-popup img{
        width: 730px;
      }
    #image-popup2 img{
        width: 380px;
    }
    #image-popup3 img{
        width: 450px;
    }
    .close-button{
        font-size: 26px;
        font-weight: bold;
        border-radius: 100px;
        width: 120px;
        border: solid 2.5px #309ae6;
    }
    #button1{
        transform: translate(585px,228px);
    }
    #button2{
        transform: translate(253px,195px);
    }
    #button3{
        transform: translate(335px,135px);
    }
    

}
