.heading{
    display: flex;
    justify-content:space-between;
    margin: 3px 20px 20px 20px;
}
.heading p{
    font-family: "EB Garamond";
    font-size: 19px;
    font-weight: 460;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title img{
    height: 620px;
}
.title img:hover{
    opacity: 60%;
}
/* Responsive - phones screen */
@media screen and (max-width:768px){
   .title img{
    margin-top: 280px;
    height: 650px;
   }
   .heading p{
    font-size: 25px;
   }

}