body{
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.heading img{
    width: 850px;
}
.sub-title{
    margin-top: 23px;
    width: 970px;
}
.sub-title p{
    font-family: "EB Garamond";
    font-size: 44px;
    line-height: 1.5cm;
}
.show-image-button{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
}
.image-container1 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-540px,15px);
    z-index: 9999;
  }
  .image-container2 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-485px,425px);
    z-index: 9999;
  }
#image-popup img{
    width: 400px;
  }
#image-popup2 img{
    width: 480px;
}
.story{
    margin-top: 285px;
    width: 56%;
}
.story p{
    font-family: "EB Garamond";
    font-size: 21px;
}
.close-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    position: absolute;
}
#button1{
    transform: translate(325px,75px);
}
#button2{
    transform: translate(408px,135px);
}
.next{
    align-items: center;
    justify-content: right;
    margin-left: 1280px;
    margin-top: 400px;
    padding: 10px;
}
.next img{
    width: 48px;
}
/* Responsive - phones screen */
@media screen and (max-width:768px){
    .heading img{
        width: 1050px;
        margin-top: 80px;
    }
    .sub-title {
        margin-top: 150px;
        width: 1100px;
    }
    .sub-title p{
        font-family: "EB Garamond";
        font-size: 50px;
        line-height: 2cm;
    }
    .story{
        width: 900px;
        margin-top: 400px;
    }
    .story p{
        font-size: 33px;
    }
    .next{
       margin-left: 1020px;
    }
    

}
