body{
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.heading img{
    width: 850px;
}
.sub-title{
    margin-top: 23px;
}
.sub-title p{
    font-family: "EB Garamond";
    font-size: 44px;
    line-height: 1.5cm;
}
#show-image{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border-radius: 100px;
    cursor: pointer;
    border: solid 1.5px #309ae6;
    height: 30px;
}
.story{
    margin-top: 285px;
    width: 56%;
}
.story p{
    font-family: "EB Garamond";
    font-size: 21px;
}
#show-image2{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
}
.next{
    align-items: center;
    justify-content: right;
    margin-left: 1280px;
    margin-top: 410px;
    padding: 10px;
}
.next img{
    width: 48px;
    
}
