body{
    margin: 35px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.heading img{
    width: 590px;
}
.sub-title{
    margin-top: 23px;
}
.sub-title p{
    font-family: "EB Garamond";
    font-size: 46px;
    line-height: 1.4cm;
}
.show-image-button{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
}
.story{
    margin-top: 205px;
    width: 56%;
}
.story p{
    font-family: "EB Garamond";
    font-size: 21px;
}
/* Buttons */
.image-container1 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-105px,42px);
    z-index: 9999;
  }
.image-container2 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-525px,457px);
    z-index: 9999;
}
.image-container3 {
    display: none; 
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px,510px);
    z-index: 9999;
}
#image-popup img{
    width: 540px;
  }
#image-popup2 img{
    width: 500px;
}
#image-popup3 img{
    width: 370px;
}
.close-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #fff291;
    color: #ed431c;
    border: solid 1.5px #309ae6;
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    position: absolute;
}
#button1{
    transform: translate(470px,157px);
}
#button2{
    transform: translate(388px,85px);
}
#button3{
    transform: translate(300px,157px);
}
.next{
    align-items: center;
    justify-content: right;
    margin-left: 1320px;
    margin-top: 360px;
    padding: 10px;
}
.next img{
    width: 30px;
}
/* Responsive - phones screen */
@media screen and (max-width:768px){
    .heading img{
        width: 960px;
        margin-top: 80px;
    }
    .sub-title {
        margin-top: 150px;
        width: 1100px;
    }
    .sub-title p{
        font-family: "EB Garamond";
        font-size: 50px;
        line-height: 2cm;
    }
    .story{
        width: 900px;
        margin-top: 400px;
    }
    .story p{
        font-size: 33px;
    }
    .next{
       margin-left: 970px;
    }
    .next img{
        width: 40px;
    }
    .show-image-button{
        font-size: 22px;
        font-weight: bold;
        border-radius: 100px;
        border: solid 2.5px #309ae6;
    }
    .image-container1 {
        transform: translate(-295px,225px);
      }
      .image-container2 {
        transform: translate(160px,920px);
      }
      .image-container3 {
        transform: translate(245px,1055px);
      }
   
    #image-popup img{
        width: 630px;
      }
    #image-popup2 img{
        width: 560px;
    }
    #image-popup3 img{
        width: 400px;
    }
   
    .close-button{
        font-size: 26px;
        font-weight: bold;
        border-radius: 100px;
        width: 120px;
        border: solid 2.5px #309ae6;
    }
    #button1{
        transform: translate(505px,188px);
    }
    #button2{
        transform: translate(390px,95px);
    }
    #button3{
        transform: translate(270px,175px);
    }
  
}
